/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.g-flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
}
/* Свойства Flex контейнера: */
/* align-items является дополнительным свойством к justify-content */
/* align-content изменяет поведение свойства flex-wrap */
/* Свойства flex-пунктов: */
.inline-block {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.disable-select {
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.clear {
  clear: both;
  display: block;
  width: 100%;
}
.m-clearfix {
  *zoom: 1;
}
.m-clearfix:before,
.m-clearfix:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.m-clearfix:after {
  clear: both;
}
.decoration-none {
  text-decoration: none;
}
.decoration-none:hover {
  text-decoration: none;
}
html {
  height: 100%;
  background: #000;
}
body {
  height: 100%;
  background: #f00;
}
.window {
  min-width: 100px;
  max-width: 1900px;
  margin: auto;
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  /* row | row-reverse | column | column-reverse */

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  /* nowrap | wrap | wrap-reverse */

  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  /* flex-start | flex-end | center | space-between | space-around */

  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  /* flex-start | flex-end | center | baseline | stretch */

  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  background: #e5e5e5;
}
.window header {
  padding: 10px 0;
  background: #faa;
}
.window nav ul {
  /*min-height: 50px; не работает stretch в IE10*/

  /*height: 50px;*/

  background: #ffd4aa;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  /* row | row-reverse | column | column-reverse */

  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  /* nowrap | wrap | wrap-reverse */

  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
}
.window nav ul .item {
  /*.g-flex;
				.c-flex-direction( row );
				.c-flex-wrap( nowrap );*/

  display: block;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  /* Number */

  -webkit-flex-shrink: 1;
  -moz-flex-shrink: 1;
  -ms-flex-negative: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  -webkit-flex-basis: auto;
  -moz-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  -ms-flex-basis: auto;
  flex-basis: auto;
  /* margin: 10px auto 5px 15px; */

  background: #ffaa56;
}
.window nav ul .item:nth-child(1) {
  /* .i-align-self( auto ); */

}
.window nav ul .item:nth-child(2) {
  /* Number */

  -webkit-order: -1;
  -moz-order: -1;
  -ms-order: -1;
  order: -1;
  /* .i-align-self( flex-start ); */

}
.window nav ul .item:nth-child(3) {
  /* .i-align-self( flex-end ); */

}
.window nav ul .item:nth-child(4) {
  /* Number */

  -webkit-order: 6;
  -moz-order: 6;
  -ms-order: 6;
  order: 6;
  /* .i-align-self( center ); */

  /* .i-flex( 2 ); */

}
.window nav ul .item:nth-child(5) {
  /* .i-align-self( baseline ); */

  /* .i-flex-grow( 2 ); */

}
.window nav ul .item:nth-child(6) {
  /* .i-align-self( stretch ); */

  /* .i-flex-shrink( 2 ); */

}
.window nav ul .item a {
  display: block;
  /* Number */

  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  padding: 10px;
  line-height: 1.7;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  background: #bf0000;
}
.window nav ul .item a:hover {
  background: #7f0000;
}
.window section {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  /* row | row-reverse | column | column-reverse */

  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  /* nowrap | wrap | wrap-reverse */

  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* Number */

  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  overflow: hidden;
  padding: 10px 0;
  background: #ffa;
}
.window section aside {
  /* Number */

  -webkit-flex-grow: 0;
  -moz-flex-grow: 0;
  -ms-flex-positive: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-basis: 240px;
  -moz-flex-basis: 240px;
  -ms-flex-preferred-size: 240px;
  -ms-flex-basis: 240px;
  flex-basis: 240px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}
.window section aside:nth-child(1) {
  /* Number */

  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  background: #aaffd4;
}
.window section aside:nth-child(2) {
  /* Number */

  -webkit-order: -1;
  -moz-order: -1;
  -ms-order: -1;
  order: -1;
  background: #d4ffaa;
}
.window section aside:nth-child(3) {
  background: #aad4ff;
}
@media all and (max-width: 720px) {
  .window section aside {
    /* Number */
  
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
  }
  .window section aside:nth-child(1) {
    -webkit-flex-basis: 100%;
    -moz-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    -ms-flex-basis: 100%;
    flex-basis: 100%;
  }
  .window section aside:nth-child(2) {
    /* Number */
  
    -webkit-order: 1;
    -moz-order: 1;
    -ms-order: 1;
    order: 1;
  }
}
@media all and (max-width: 480px) {
  .window section aside {
    -webkit-flex-basis: auto;
    -moz-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    -ms-flex-basis: auto;
    flex-basis: auto;
  }
  .window section aside:nth-child(2) {
    /* Number */
  
    -webkit-order: 1;
    -moz-order: 1;
    -ms-order: 1;
    order: 1;
  }
}
.window footer {
  padding: 10px;
  background: #aaf;
}
